<% attending_rooms.each do |attending_room| %>
  <div class="meeting-room-block">
    <p class="meeting-room-name"><%= attending_room.name %></p>
    <p class="participant">参加者</p>
    <% attending_room.members.first(3).each do |member| %>
      <p class="meeting-room-member"><%= member.name %></p>
    <% end %>
    <% if attending_room.members.first(4).length >= 4 %>
      <p class="meeting-room-member"><i class="fas fa-ellipsis-v"></i></p>
    <% end %>
    <%= link_to "参加する", meeting_room_path(attending_room), class: "meeting-room-btn text-center member#{attending_room.members.first(4).length}" %>
  </div>
<% end %>