<div class="disclosure-user-modal">
  <p class="disclosure-user-chat text-center"><%= chat.content %></p>
  <p class="disclosure-user-note text-center">このメッセージの送り主に</p>
  <p class="disclosure-user-note text-center">名前の開示をお願いしますか？</p>
  <span class="disclosure-user-btn quit">やめる</span>
  <a href="#" class="disclosure-user-btn please">お願いする</a>
</div>

