/*
 *= require_tree .
 *= require_self
 */
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "top";
@import "auth";
@import "color";
@import "meeting_rooms";
@import "in_room";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.invisible {
  display: none;
}

a {
  text-decoration: none;
  display: inline-block;
  // クリック時の青四角を消す
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.background {
  background-color: $main-color;
  width: 100%;
  min-height: 91vh;
}

// header関係

header {
  width: 100%;
  height: 9vh;
  background-color: $sub-color;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  color: white;
  padding-left: 30px;
  line-height: 80px;
  font-weight: bold;
  flex-grow: 1;
}

.room_search {
  line-height: 80px;
  position: relative;
}

#search-room-form {
  width: 1050px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: $sub-color2;
  flex-grow: 60;
  color: white;
  padding: 0 40px;
  font-size: 18px;
}

#search-room-form::placeholder {
  color: rgba($color: white, $alpha: 0.7);
  font-size: 18px;
  text-align: center;
}

.fa-search {
  position: absolute;
  top: 34px;
  left: 9px;
  color: rgba($color: white, $alpha: 0.7);
  font-size: 18px;
}

.fa-bell {
  margin-top: 28px;
  margin-left: 10px;
  line-height: 80px;
  color: white;
  font-size: 0.8em;
  flex-grow: 1;
  cursor: pointer;
}

.sign-out {
  color: white;
  line-height: 80px;
  font-size: 20px;
  flex-grow: 2;
}

/// 部屋内のheader
.back-link {
  line-height: 80px;
  flex-grow: 1;
  padding-left: 30px;
}

.fa-chevron-left {
  color: white;
  font-size: 30px;
}

.room-info {
  flex-grow: 60;
  text-align: center;
  padding-top: 10px;
  color: white;
  padding-left: 120px;
  position: relative;
}

.room-name {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: 120px;
  font-size: 35px;
}

.meeting-id {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 45px;
  margin-left: 120px;
  text-align: center;
}
